*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.content {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: end;
  padding: 133px 30px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
  margin-block-end: 16px;
}

.result__video {
  block-size: inherit;
  inline-size: inherit;
  object-fit: contain;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-block-end: 5px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  font-size: 18px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  gap: 5px;
  align-items: center;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__label:has(.search-form__textfield:active) {
  outline: 1px solid #FFF;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  block-size: 19px;
  inline-size: 19px;
  border: 1px solid #FFF;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox:after {
  content: "";
  display: inline-block;
  block-size: 15px;
  inline-size: 15px;
  background: #FFF;
  margin-left: 1px;
  margin-bottom: 1px;
}

.search-form__label:hover:has(.search-form__checkbox) {
  text-decoration: underline;
}

.search-form__label-text {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFF;
  cursor: pointer;
}

.search-form__textfield {
  appearance: none;
  padding: 2px 0;
  inline-size: 225px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255 255 255 / 0.7);
  background-color: inherit;
  border-block: 1px solid #FFF;
  border-inline: none;
  outline: none;
}

.button {
  block-size: 34px;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFF;
  background-color: inherit;
  border: 1px solid #FFF;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: end;
  inline-size: 194px;
}

.more-button {
  inline-size: 100%;
}

.content__details {
  block-size: 100%;
  inline-size: 100%;
}

.title {
  margin-block-end: 26px;
  font-family: Oswald;
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #FFF;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  max-block-size: 298px;
  overflow: auto;
}

.content__list-item {
  margin-block-end: 30px;
}

.content__card-link {
  text-decoration: none;
  color: #FFF;
  cursor: pointer;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-description-container {
  inline-size: 100%;
  padding-inline-start: 2px;
  padding-block-start: 2px;
  padding-block-end: 4px;
}

.content__video-card-title {
  margin-block-end: 6px;
  font-family: Oswald;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.content__video-card-thumbnail{
  inline-size: 194px;
  block-size: 103px;
  object-fit: contain;
}
